@media (max-width: 768px) {
    .contact{
        color:  #FF9D00;
        
    }
    .letter{
        font-size: 25px;
    }
    
    .but{
        color: white;
     
        border-radius: 10px;
    }
    .place{
        border-radius: 20px !important;
        border-color: 0px solid gray !important;
    }
    
    .card1{
        height: 140px !important;
        width: 300px;
    }
   .sectionn{
    padding: 10px !important;
    
   }
   .rw{
    margin-top: 2px;
   }
   @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
   }
   
}
/* @media (max-width: 1024px){
    .letters{
        font-size: 12px !important;
    }

} */
.fixed-card {
    color:  linear-gradient(90deg, #FF9D00 0%, #FFC100 50%, #FF9D00 100%) !important;
    background: linear-gradient(90deg, #FF9D00 0%, #FFC100 50%, #FF9D00 100%) !important;
   
       
    
    
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visual separation */
  }
.icon{
    height: 50px;
    width: 50px;
    border-radius: 100%;
    background-color:white;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .redSelect{
    background-color: #f5cf10;
  }
  
  .first{
    display: flex;
    flex-direction: column;
   
  }
  .bb{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .aa{
    
  /* padding: 50px;
  
  width: 100%;
  display: flex !important;
  justify-content: center;
  gap: 50px !important; */
  
  }
  .cards{
    
    width: 100%;
    display: flex;
   border-radius: 7px !important;
    gap: 20px;
  }
  .icon-color{
    color: linear-gradient(90deg, #FF9D00 0%, #FFC100 50%, #FF9D00 100%) !important;
  }
  .card1{
    text-align: center;
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, #FF9D00 0%, #FFC100 50%, #FF9D00 100%) !important;
  
    color: black !important;
    border-radius: 7px !important;
  }
