@import url('https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap');

footer{
  font-family: "Urbanist", sans-serif;

}
.gradient-button {
    background: linear-gradient(90deg, #ffc107, #ff8c00);
    border: none;

  }
  
  .gradient-button:hover {
    background: linear-gradient(90deg, #ff8c00, #ffc107);
  }
  
  .border-warning {
    border-color: #ffc107 !important;
    box-shadow: none;
  }
   
  .form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  }
  


.slogen{
    font-family: "Urbanist", sans-serif;
}

.joinbtn{
  border: 2px solid #FFDF41; 
}
