.wrapper {
  display: flex;
  flex-direction: column; /* Stacks the buttons vertically */
  align-items: flex-end; /* Aligns buttons to the right */
  position: fixed;
  bottom: 50px;
  right: 10px;
  gap: 5px;
  z-index: 3;
}

.wrapper .button {
  height: 50px;
  width: 50px;
  text-decoration: none;
  overflow: hidden;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.25s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
}

.wrapper .button:nth-child(1) {
  background: linear-gradient(to right, #ffdf41, #ff8800);
}
.wrapper .button:nth-child(2) {
  background: #25d366;
}
.wrapper .button:nth-child(3) {
  background: #337fff;
}
.wrapper .button:nth-child(4) {
  background: #419129;
}

.wrapper .button .icons {
  height: 30px;
  width: 30px;
  color: #000;
  text-align: center;
  border-radius: 50px;
  transition: all 0.25s ease-in-out;
}
/* Default Tooltip Styles */
.react-tooltip {
  color: black !important;
  font-size: 12px;
  padding: 8px;
  border-radius: 5px;
  font-weight: 700;
}

#signal-tooltip {
  background-color: #ffdf41;
}

#whatsapp-tooltip {
  background-color: #25d366;
}

#connectus-tooltip {
  background-color: #337fff;
}

#bot-tooltip {
  background-color: #419129;
}



/* Chatbox Styles */
.chatbox {
  position: fixed;
  bottom: 30px;
  right: 95px;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px;
  padding: 16px;
  z-index: 1000;
}



.chatbox::before {
  content: '';
  position: absolute;
  bottom: 5px; /* Adjust the position of the tail */
  left: 96%; /* Adjust this to move the tail horizontally */
  width: 20px;
  height: 20px;
  background-color: white; /* Same as the chatbox background */
  transform: rotate(45deg); /* Rotate to make it look like a triangle */
  z-index: -1; /* Place the tail behind the chatbox */
}

.chatbox h4 {
  margin: 0 0 10px;
  font-size: 16px;
  color: #333;
}

.chatbox p {
  margin: 0 0 8px;
  font-size: 14px;
  color: #555;
}


.button:hover {
  transform: scale(1.1);
}

/* Icon Image */
.icons img {
  width: 30px;
  height: 30px;
}

@media screen and (max-width: 1280px) {
  .wrapper .button .icons  {
      height: 27px;
      width: 27px;
  }
  .wrapper .button  {
      height: 45px;
      width: 45px;
  }
  .wrapper .icons img {
    width: 27px;
    height: 27px;
  }
}
@media screen and (max-width: 1024px) {
  .wrapper .button .icons  {
      height: 24px;
      width: 24px;
  }
  .wrapper .button  {
      height: 38px;
      width: 38px;
  }
  .wrapper .icons img {
    width: 24px;
    height: 24px;
  }
}
@media screen and (max-width: 768px) {
  .wrapper .button .icons  {
      height: 20px;
      width: 20px;
  }
  .wrapper .button  {
      height: 30px;
      width: 30px;
  }
  .wrapper .icons img {
    width: 20px;
    height: 20px;
  }
}
@media (max-width: 640px) {
.wrapper{
  display: none;
}
}
