/* spinner  loader*/
.spinner {
  border: 4px solid #fde047;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.employ_form_two{
display:none ;
}
@media (max-width: 640px) {
.employ_form_one{
  display:none ;
}

.employ_form_two{
  display:block ;
}
}
.employInput:focus{
border: #fde047 !important;
}
