@media (max-width: 640px) {
  .pad{
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  .feed{
    line-height: normal;
    
  }
  }
  canvas {
    max-width: 100%;
    height: auto;
  }