.gradient-button {
    background: linear-gradient(90deg, #ffc107, #ff8c00);
    border: none;
    font-weight: bold;

  }
  .border-warning {
    border-color: #ffc107 !important;
    box-shadow: none;
  }
   
  footer .form-control:focus {
    border-color: #ffc107;
    box-shadow: 0 0 0 0.2rem rgba(255, 193, 7, 0.25);
  }
  .footerForm button{
    border-radius: 0 10px 10px 0;
  }
  .footerForm input::placeholder{
    color: #0A0A0A80;
  }
  @media (max-width: 640px) {
    .footerForm button{
      border-radius: 10px  ;
     padding: 7.5px 15px !important;
     font-size: 10px;
     margin-top: 10px;
     margin: auto;
    }
    .footerForm input{
      border-radius: 10px;
      height: 30px;
      font-size: 10px;
    }
  }
/* footer social medias */
#fb-footer,#medium-footer,#insta-footer,#blogger-footer,#youtube-footer,#quora-footer,#linkedin-footer{
  background-color: #FFC100;
  color: white !important;
}
.footer_smedia img{
  height:30px;
  width: 30px;
}
@media (max-width: 1280px) {
  .footer_smedia img{
    height:24px;
    width: 24px;
  }
}
@media (max-width: 1024px) {
  .footer_smedia img{
    height:27px;
    width: 27px;
  }
}
.footerParagraph{
  text-align: justify;
}
@media (max-width: 1280px) {
  .footerParagraph{
    text-align: center;
  }
}
@media (max-width: 480px) {
  .footerParagraph{
    text-align: justify;
    text-align-last: center;
  }
}
.follow_us_footer , .follow_us_footer h5{
  margin: 0;
}
@media (max-width: 1280px) {
  .follow_us_footer , .follow_us_footer h5{
    margin: auto;
  }
}

@media (max-width: 480px) {

.follow_us_footer, .follow_us_footer h5 {
  margin: 0;
}
}
.join_footer_btn {
  border: 2px solid transparent;
  border-radius: 20px;
  background-image: linear-gradient(black, black), linear-gradient(90deg, #FFDF41, #FF8800);
  background-origin: border-box;
  background-clip: padding-box, border-box;
  color: white;
  cursor: pointer;
  font-weight: 400;
}

@media (max-width: 810px) and (min-width: 768px) {
.footerFirstDiv{
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  }
}
@media (max-width: 768px)  {
.footerFirstDiv{
  width: 100%;
  margin-left: auto !important;
  margin-right: auto !important;
  }
}
.divOneTwo{
  display: flex;
  flex-wrap: nowrap;
}
@media (max-width: 1024px)  {
  .divOneTwo{
  display: flex;
  flex-wrap: wrap;
}
.divOneTwo video{
  max-width: 280px;
  width: auto;
}
}
@media (max-width: 768px)  {
  .divOneTwo{
  display: flex;
  flex-wrap: wrap;
}
.divOneTwo video{
  max-width: 240px;
  width: auto;
}
}
@media (max-width: 640px)  {
  .divOneTwo{
  display: flex;
  flex-wrap: wrap;
}
.divOneTwo video{
  max-width: 230px;
  width: auto;
}
}
.viewMoreFooterVideo{
  border-bottom: 1px #FFC100 solid;
}