
/* section 1  styling*/
.bgOne, .bgTwo , .bgThree, .bgFour, .bgFive{
  height: 100vh;
    clip-path: polygon(
      100% 0%,
      0% 0%,
      0% 59.79%,
      1% 60.59%,
      2% 61.4%,
      3% 62.24%,
      4% 63.09%,
      5% 63.97%,
      6% 64.85%,
      7% 65.76%,
      8% 66.67%,
      9% 67.6%,
      10% 68.53%,
      11% 69.48%,
      12% 70.42%,
      13% 71.38%,
      14% 72.33%,
      15% 73.28%,
      16% 74.23%,
      17% 75.18%,
      18% 76.12%,
      19% 77.05%,
      20% 77.98%,
      21% 78.89%,
      22% 79.79%,
      23% 80.67%,
      24% 81.54%,
      25% 82.39%,
      26% 83.23%,
      27% 84.04%,
      28% 84.82%,
      29% 85.59%,
      30% 86.32%,
      31% 87.03%,
      32% 87.71%,
      33% 88.36%,
      34% 88.98%,
      35% 89.57%,
      36% 90.13%,
      37% 90.64%,
      38% 91.13%,
      39% 91.58%,
      40% 91.98%,
      41% 92.36%,
      42% 92.69%,
      43% 92.98%,
      44% 93.23%,
      45% 93.45%,
      46% 93.62%,
      47% 93.75%,
      48% 93.84%,
      49% 93.88%,
      50% 93.89%,
      51% 93.85%,
      52% 93.77%,
      53% 93.65%,
      54% 93.49%,
      55% 93.28%,
      56% 93.04%,
      57% 92.75%,
      58% 92.43%,
      59% 92.06%,
      60% 91.66%,
      61% 91.22%,
      62% 90.75%,
      63% 90.24%,
      64% 89.69%,
      65% 89.11%,
      66% 88.49%,
      67% 87.85%,
      68% 87.17%,
      69% 86.47%,
      70% 85.74%,
      71% 84.98%,
      72% 84.2%,
      73% 83.39%,
      74% 82.57%,
      75% 81.72%,
      76% 80.85%,
      77% 79.97%,
      78% 79.08%,
      79% 78.17%,
      80% 77.24%,
      81% 76.31%,
      82% 75.37%,
      83% 74.43%,
      84% 73.48%,
      85% 72.52%,
      86% 71.57%,
      87% 70.62%,
      88% 69.67%,
      89% 68.73%,
      90% 67.79%,
      91% 66.86%,
      92% 65.95%,
      93% 65.04%,
      94% 64.15%,
      95% 63.27%,
      96% 62.41%,
      97% 61.57%,
      98% 60.75%,
      99% 59.96%,
      100% 59.18%
    );
    overflow: visible;
    position: relative;
    background-size: cover;
    background-position: center ;
    background-repeat: no-repeat;
  }
  .bgOne ,.bgTwo{
    background-image: url('../images/team.jpg');
  }
  .bgThree{
    background-image: url('../images/team.jpg');
  }
  .bgFour{
    background-image: url('../images/employ.jpg');
  }
  .bgFive{
    background-image: url('../images/connect.jpg');
  }
  
  
  
  .bgOne::before,.bgTwo::before, .bgThree::before, .bgFour::before, .bgFive::before {
    content: ''; /* Creates the pseudo-element */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #231a00;
    opacity: 0.75; /* Adjust opacity of background */
    z-index: 1; /* Ensures it is below the content */
    pointer-events: none; /* Allows interaction with the content */
  }
  
  /* header button */
.header_button{
    background: linear-gradient(to right, #FFC100,#FF9D00);
    font-weight: 600 ;
    border: none;
  }
.headerbuttons{
  position: relative;
  height: 0;
  color: white;
  z-index: 3;
  top: 135px;
  font-size: 14px;
}
.headerbuttons svg{
  scale: 1.4;
}
.headerbuttons div{
  cursor: pointer;
}
@media screen and (max-width: 640px) {
  .headerbuttons{
    display: none;
  }
}
@media (max-width: 640px) {

.bgOne::before,.bgTwo::before, .bgThree::before, .bgFour::before, .bgFive::before {
  height: 440px;
}
.bgOne, .bgTwo , .bgThree, .bgFour, .bgFive{
  height: 440px;
}
}
.justify_banner {
  text-align: justify;
  text-align-last: center;
}
.custom-shape-divider-bottom-1735630760 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
}

.custom-shape-divider-bottom-1735630760 svg {
  position: relative;
  display: block;
  width: calc(275% + 1.3px);
  height: 500px;
}

.custom-shape-divider-bottom-1735630760 .shape-fill {
  fill: #FFFFFF;
}