

/* Navbar base styles */
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    background:black;
    /* background: #595252; #feee9e; */
    color: white;
    padding: 15px 20px;
    text-align: center;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    transition: transform 2s ease, opacity 2s ease;
  }
  
  
  /* Hidden state */
  .navbar.hidden {
    transform: translateY(-100%);
    opacity: 0;
  }
  
  /* Visible state */
  .navbar.visible {
    transform: translateY(0);
    opacity: 1;
  }
  
  .custom-dropdown .dropdown-menu {
    background-color: white;
    box-shadow: none;
    margin: 0;
  }
  
  .custom-dropdown .dropdown-item {
    font-weight: 600;
    color: #000;
  }
  
  .custom-dropdown .dropdown-item:hover {
    background-color: #FFC100;
  }
  
  
  
  #navlink + .dropdown-menu .dropdown-toggle:first-of-type,#navlink + .dropdown-menu .dropdown-item  {
    color: black; 
    font-weight: 500;
  }
  #navlink + .dropdown-menu .dropdown-toggle:first-of-type,
  #navlink + .dropdown-menu .dropdown-item {
    color: black;
    font-weight: 600;
  
    text-align: center;
  }
  
  #navlink + .dropdown-menu .dropdown-toggle:first-of-type:hover,#navlink + .dropdown-menu .dropdown-item:hover  {
    background-color: #FFC107; 
    color: #000;
  }
  
  
  /* Navbar animation  */
  #navlink {
    position: relative;
    text-decoration: none;
    transition: transform 0.3s ease, font-size 0.3s ease;
    color: white;
    width: max-content;
    padding: auto;
    margin: 4px  ;
  }
    
  #navlink:hover {
    color: #FFC100;
  }
  
  #navlink::before {
    content: '';
    position: absolute;
    display: block;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #f5cf10;
    transform: scaleX(0);
    transition: transform 0.5s ease;
  }
  
  /* Ensure underline appears when hovering */
  #navlink:hover::before {
    transform: scaleX(1);
  }
  
  #navlink.active, .dropdown.active {
    color: #FFC100;
    font-weight: bold; 
  }
  
  
  #navlink.active::before, .dropdown.active::before {
    transform: scaleX(1); 
  }
  
  .dropdown-menu .nav-link {
    color: inherit; 
    transition: color 0.3s ease, font-size 0.3s ease;
  }
  
  .dropdown-menu .nav-link:hover {
    color: #FFC100; /* Hover color for dropdown items */
  }
  
  .dropdown-menu .nav-link.active {
    color: #FFC100;
    font-weight: bold; /* Optional */
  }
  #navlink:hover::before {
    transform: scaleX(1);
  }
  
  #navlink.active, .dropdown.active, .active #navlink {
    color: #FFC100  ; 
    font-weight: bold; 
  }
  
  #navlink.active::before, .dropdown.active::before, .active #navlink::before{
    transform: scaleX(1); 
  
  }
  