@keyframes loadFromLeft {
    0% {
      clip-path: inset(0 100% 0 0); /* Image hidden (from right) */
    }
    100% {
      clip-path: inset(0 0 0 0); /* Image fully visible */
    }
  }
  
  .image-animation {
    animation: loadFromLeft 1.5s ease-in-out forwards; /* Apply animation */
    display: block;
    height: 125px ; /* Adjust the width as needed */
  }
  .loader_main{
    display: flex ;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background-image: linear-gradient( to right, #FFC100, #FF9D00);
    position: relative;
    z-index: 2 ;
  }
  .loading-text {
    display: inline-block;
    font-size: .8rem;
    font-weight: 600;
    color: #000000 !important;
    overflow: hidden;
    white-space: nowrap;
    width: 50;
    animation: loadingText 1.5s ease-in-out forwards;
  }
    .img-overlay{
      position: absolute;
      height: 125px; 
      opacity: .075;
    }