/* service page */
.bg_common{
    background-color: #FFC100;
  }
  .bgSection {
    background: url('../images/bgservices.svg') no-repeat center center ;
    background-size: cover; 
    width: 100%;
    height: 100%; 
  }
  