.popupForm input,.popupForm select, .popupForm textarea{
    margin: auto;
    width: 100%;
    box-shadow: 2px 2px 4px 0 #0A0A0A33, -2px 1px 4px 0 #0A0A0A33;
    border-radius: 10px;
    outline: none;
    resize: none;
    color: black;
}
.popupForm .selectForPopup button{
    width: 100%;
    box-shadow: 2px 2px 4px 0 #0A0A0A33, -2px 1px 4px 0 #0A0A0A33;

}
.popupForm input::placeholder, .popupForm textarea::placeholder{
    color: #0A0A0ACC;
    font-weight: 400;
}
/* Custom CSS */
.custom-modal .modal-content {
    border-radius: 20px !important; /* Adjust the value as needed */
    max-height: 100vh;
    max-width: 780px;
    overflow-y: auto;
    margin: auto !important;
  }
  .custom-modal .modal-content::-webkit-scrollbar {
    display: none;
}
.custom-modal {
    scroll-behavior: smooth;
    margin: auto !important;
    height: 100vh;
}

.popupForm input::-webkit-outer-spin-button,
.popupForm input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
.popupForm  select option{
    width: 200px !important;
}
@media (max-width: 576px) {
    .custom-modal{
        width: 85% !important;
        margin: auto !important;
    }
}
ul {
    margin: 0 ;
    padding: 0 !important;
    list-style: none ; /* Optional: removes bullet points */
  }
  
  li {
    margin: 0 ;
    padding: 0 ;
  }

  