.projectManagement table {
    border: 1px solid #0A0A0A;
    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
  }
  .projectManagement table td,  .projectManagement table th{
    padding: 10px 0 ;
    border-right: 1px  solid #0A0A0A;
  }
.projectManagement table td:last-child, 
.projectManagement table th:last-child {
    padding: 10px 0;
    border-right: 0;
}

 .projectManagement table th {
    padding: 10px 0 ;
    border-bottom: 1px  solid #0A0A0A;
  }
  .projectManagement table th{
    font-size: 18px;
  }
  .projectManagement table td{
    font-size: 16px;
  }  
  .projectDetailsBorderDiv{
    border: 0.5px solid #0A0A0A;
    padding: 15px;
    border-radius: 10px;
  }
  .projectDetailsDocument{
    border-radius: 10px ;
    overflow: hidden;
  }
  .projectManagement tbody{
    border: 1px black solid;    border-spacing: 0;
    border-radius: 10px;
    overflow: hidden;
    border-collapse: separate;
  }
  .projectManagement table tbody td:first-child,  .projectManagement table tbody th:first-child{
    width: calc(100% - 93% ) !important;
  }
  .projectManagement table tbody td:nth-child(2), 
  .projectManagement table tbody td:nth-child(3), 
  .projectManagement table tbody td:nth-child(4), 
  .projectManagement table tbody td:nth-child(5), 
  .projectManagement table tbody td:nth-child(6), 
  .projectManagement table thead th:nth-child(2), 
  .projectManagement table thead th:nth-child(3), 
  .projectManagement table thead th:nth-child(4), 
  .projectManagement table thead th:nth-child(5), 
  .projectManagement table thead th:nth-child(6)
   {
    width: calc(100% - 84.5% ) !important;
    
  }
  