.logo-loader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: linear-gradient(135deg, #c0e163, #d0cad6);
    color: white;
    font-family: "Arial", sans-serif;
    text-align: center;
   
  }
  
  .logo-container {
    margin-bottom: 40px;
  }
  .logo-container image {
    size: 600px;
  }
  
  .animated-logo {
    width: 300px;
    height: 300px;
    animation: bounce 2s infinite ease-in-out;
  }
  
  @keyframes bounce {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-20px);
    }
  }
  
  .spinner-container {
    margin: 10px 0;
  }
  
  .spinner {
    width: 40px;
    height: 40px;
    border: 5px solid rgba(184, 177, 177, 0.3);
    border-top: 5px solid rgb(24, 24, 20);
    border-radius: 50%;
    animation: spin 1s linear infinite;
  }
  
  @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .loading-text {
      color: black;
    font-size: 16px;
    font-weight: 500;
    letter-spacing: 1.2px;
    margin-top: 10px;
    animation: fade-in 2s infinite;
  }
  
  @keyframes fade-in {
    0%,
    100% {
      opacity: 0.7;
    }
    50% {
      opacity: 1;
    }
  }
  