@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}
*
{
  box-sizing: border-box;
 
}


body, html {
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-size: 16px;

}


h1 {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}
h1 {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Navbar base styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background:black;
  /* background: #595252; #feee9e; */
  color: white;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 2s ease, opacity 2s ease;
}


/* Hidden state */
.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

/* Visible state */
.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.custom-dropdown .dropdown-menu {
  background-color: white;
  box-shadow: none;
  margin: 0;
}

.custom-dropdown .dropdown-item {
  font-weight: 600;
  color: #000;
}

.custom-dropdown .dropdown-item:hover {
  background-color: #FFC100;
}


#navlink + .dropdown-menu .dropdown-toggle:first-of-type,#navlink + .dropdown-menu .dropdown-item  {
  color: black; 
  font-weight: 500;
  text-align: center;
}

#navlink + .dropdown-menu .dropdown-toggle:first-of-type:hover,#navlink + .dropdown-menu .dropdown-item:hover  {
  background-color: #FFC107; 
  color: #000;
}


/* Navbar animation  */
#navlink {
  position: relative;
  text-decoration: none;
  transition: transform 0.3s ease, font-size 0.3s ease;
  color: white;
}

#navlink:hover {
  color: #FFC100;
}

#navlink::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5cf10;
  transform: scaleX(0);
  transition: transform 0.5s ease;
}

/* Ensure underline appears when hovering */
#navlink:hover::before {
  transform: scaleX(1);
}

#navlink.active, .dropdown.active {
  color: #FFC100;
  font-weight: bold; 
}

#navlink:hover::before {
  transform: scaleX(1);
}

#navlink.active, .dropdown.active, .active #navlink {
  color: #FFC100  ; 
  font-weight: bold; 
}

#navlink.active::before, .dropdown.active::before, .active #navlink::before{
  transform: scaleX(1); 
}


/* header button */
.header_button{
    background: linear-gradient(to right, #FFDF41,#FF8800);
    border-radius: 10px;
    font-weight: 600 ;
    font-size: 22px ;
    padding: 20px 24px;
    border: none;
  }
  @media screen and (max-width: 768px) {
    .header_button{
      font-size: 18px;
      padding: 12px 16px;
    }
  }
  @media screen and (max-width: 576px) {
    .header_button{
      font-size: 12px;
      padding: 10px 14px;
    }
  } 
.headerbuttons{
  position: relative;
  height: 0;
  color: white;
  z-index: 3;
  top: 135px;
  font-size: 14px;
}
.headerbuttons svg{
  scale: 1.4;
}
.headerbuttons div{
  cursor: pointer;
}
@media screen and (max-width: 576px) {
  .headerbuttons{
    font-size: 8px;
    top: 100px;
    justify-content: center;
  }
}

/* section 1  styling*/
.bg1 {
  width: 100%;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 59.79%,
    1% 60.59%,
    2% 61.4%,
    3% 62.24%,
    4% 63.09%,
    5% 63.97%,
    6% 64.85%,
    7% 65.76%,
    8% 66.67%,
    9% 67.6%,
    10% 68.53%,
    11% 69.48%,
    12% 70.42%,
    13% 71.38%,
    14% 72.33%,
    15% 73.28%,
    16% 74.23%,
    17% 75.18%,
    18% 76.12%,
    19% 77.05%,
    20% 77.98%,
    21% 78.89%,
    22% 79.79%,
    23% 80.67%,
    24% 81.54%,
    25% 82.39%,
    26% 83.23%,
    27% 84.04%,
    28% 84.82%,
    29% 85.59%,
    30% 86.32%,
    31% 87.03%,
    32% 87.71%,
    33% 88.36%,
    34% 88.98%,
    35% 89.57%,
    36% 90.13%,
    37% 90.64%,
    38% 91.13%,
    39% 91.58%,
    40% 91.98%,
    41% 92.36%,
    42% 92.69%,
    43% 92.98%,
    44% 93.23%,
    45% 93.45%,
    46% 93.62%,
    47% 93.75%,
    48% 93.84%,
    49% 93.88%,
    50% 93.89%,
    51% 93.85%,
    52% 93.77%,
    53% 93.65%,
    54% 93.49%,
    55% 93.28%,
    56% 93.04%,
    57% 92.75%,
    58% 92.43%,
    59% 92.06%,
    60% 91.66%,
    61% 91.22%,
    62% 90.75%,
    63% 90.24%,
    64% 89.69%,
    65% 89.11%,
    66% 88.49%,
    67% 87.85%,
    68% 87.17%,
    69% 86.47%,
    70% 85.74%,
    71% 84.98%,
    72% 84.2%,
    73% 83.39%,
    74% 82.57%,
    75% 81.72%,
    76% 80.85%,
    77% 79.97%,
    78% 79.08%,
    79% 78.17%,
    80% 77.24%,
    81% 76.31%,
    82% 75.37%,
    83% 74.43%,
    84% 73.48%,
    85% 72.52%,
    86% 71.57%,
    87% 70.62%,
    88% 69.67%,
    89% 68.73%,
    90% 67.79%,
    91% 66.86%,
    92% 65.95%,
    93% 65.04%,
    94% 64.15%,
    95% 63.27%,
    96% 62.41%,
    97% 61.57%,
    98% 60.75%,
    99% 59.96%,
    100% 59.18%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}

/* section 2  styling*/
.bg2 {
  width: 100%;
  height: fit-content;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 2.16%,
    1% 2.03%,
    2% 1.89%,
    3% 1.76%,
    4% 1.63%,
    5% 1.51%,
    6% 1.39%,
    7% 1.28%,
    8% 1.17%,
    9% 1.07%,
    10% 0.97%,
    11% 0.88%,
    12% 0.79%,
    13% 0.71%,
    14% 0.63%,
    15% 0.56%,
    16% 0.49%,
    17% 0.43%,
    18% 0.37%,
    19% 0.32%,
    20% 0.28%,
    21% 0.24%,
    22% 0.2%,
    23% 0.17%,
    24% 0.15%,
    25% 0.13%,
    26% 0.12%,
    27% 0.11%,
    28% 0.11%,
    29% 0.12%,
    30% 0.12%,
    31% 0.14%,
    32% 0.16%,
    33% 0.19%,
    34% 0.22%,
    35% 0.26%,
    36% 0.3%,
    37% 0.35%,
    38% 0.4%,
    39% 0.46%,
    40% 0.52%,
    41% 0.59%,
    42% 0.67%,
    43% 0.75%,
    44% 0.83%,
    45% 0.92%,
    46% 1.02%,
    47% 1.12%,
    48% 1.22%,
    49% 1.33%,
    50% 1.44%,
    51% 1.56%,
    52% 1.69%,
    53% 1.82%,
    54% 1.95%,
    55% 2.09%,
    56% 2.23%,
    57% 2.37%,
    58% 2.52%,
    59% 2.68%,
    60% 2.84%,
    61% 3%,
    62% 3.16%,
    63% 3.33%,
    64% 3.5%,
    65% 3.68%,
    66% 3.86%,
    67% 4.04%,
    68% 4.23%,
    69% 4.42%,
    70% 4.61%,
    71% 4.8%,
    72% 5%,
    73% 5.2%,
    74% 5.4%,
    75% 5.6%,
    76% 5.81%,
    77% 6.01%,
    78% 6.22%,
    79% 6.43%,
    80% 6.65%,
    81% 6.86%,
    82% 7.08%,
    83% 7.29%,
    84% 7.51%,
    85% 7.73%,
    86% 7.95%,
    87% 8.17%,
    88% 8.39%,
    89% 8.61%,
    90% 8.83%,
    91% 9.05%,
    92% 9.27%,
    93% 9.49%,
    94% 9.71%,
    95% 9.93%,
    96% 10.15%,
    97% 10.36%,
    98% 10.58%,
    99% 10.8%,
    100% 11.01%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}
/* section 3  styling*/
.bg3 {
  width: 100%;
  height: fit-content;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 2.24%,
    1% 1.93%,
    2% 1.62%,
    3% 1.31%,
    4% 1.01%,
    5% 0.73%,
    6% 0.49%,
    7% 0.29%,
    8% 0.14%,
    9% 0.04%,
    10% 0%,
    11% 0.02%,
    12% 0.1%,
    13% 0.23%,
    14% 0.41%,
    15% 0.64%,
    16% 0.9%,
    17% 1.2%,
    18% 1.5%,
    19% 1.82%,
    20% 2.13%,
    21% 2.42%,
    22% 2.68%,
    23% 2.91%,
    24% 3.1%,
    25% 3.23%,
    26% 3.31%,
    27% 3.33%,
    28% 3.29%,
    29% 3.2%,
    30% 3.05%,
    31% 2.85%,
    32% 2.61%,
    33% 2.33%,
    34% 2.04%,
    35% 1.72%,
    36% 1.41%,
    37% 1.11%,
    38% 0.82%,
    39% 0.57%,
    40% 0.35%,
    41% 0.18%,
    42% 0.07%,
    43% 0.01%,
    44% 0.01%,
    45% 0.06%,
    46% 0.18%,
    47% 0.35%,
    48% 0.56%,
    49% 0.81%,
    50% 1.1%,
    51% 1.4%,
    52% 1.71%,
    53% 2.02%,
    54% 2.32%,
    55% 2.6%,
    56% 2.84%,
    57% 3.04%,
    58% 3.19%,
    59% 3.29%,
    60% 3.33%,
    61% 3.31%,
    62% 3.24%,
    63% 3.1%,
    64% 2.92%,
    65% 2.69%,
    66% 2.43%,
    67% 2.14%,
    68% 1.83%,
    69% 1.52%,
    70% 1.21%,
    71% 0.92%,
    72% 0.65%,
    73% 0.42%,
    74% 0.24%,
    75% 0.1%,
    76% 0.02%,
    77% 0%,
    78% 0.04%,
    79% 0.13%,
    80% 0.28%,
    81% 0.48%,
    82% 0.73%,
    83% 1%,
    84% 1.3%,
    85% 1.61%,
    86% 1.92%,
    87% 2.23%,
    88% 2.51%,
    89% 2.76%,
    90% 2.98%,
    91% 3.15%,
    92% 3.27%,
    93% 3.33%,
    94% 3.33%,
    95% 3.27%,
    96% 3.15%,
    97% 2.99%,
    98% 2.77%,
    99% 2.52%,
    100% 2.24%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}

/* section 1  styling*/
.bgOne, .bgTwo , .bgThree, .bgFour, .bgFive{
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 59.79%,
    1% 60.59%,
    2% 61.4%,
    3% 62.24%,
    4% 63.09%,
    5% 63.97%,
    6% 64.85%,
    7% 65.76%,
    8% 66.67%,
    9% 67.6%,
    10% 68.53%,
    11% 69.48%,
    12% 70.42%,
    13% 71.38%,
    14% 72.33%,
    15% 73.28%,
    16% 74.23%,
    17% 75.18%,
    18% 76.12%,
    19% 77.05%,
    20% 77.98%,
    21% 78.89%,
    22% 79.79%,
    23% 80.67%,
    24% 81.54%,
    25% 82.39%,
    26% 83.23%,
    27% 84.04%,
    28% 84.82%,
    29% 85.59%,
    30% 86.32%,
    31% 87.03%,
    32% 87.71%,
    33% 88.36%,
    34% 88.98%,
    35% 89.57%,
    36% 90.13%,
    37% 90.64%,
    38% 91.13%,
    39% 91.58%,
    40% 91.98%,
    41% 92.36%,
    42% 92.69%,
    43% 92.98%,
    44% 93.23%,
    45% 93.45%,
    46% 93.62%,
    47% 93.75%,
    48% 93.84%,
    49% 93.88%,
    50% 93.89%,
    51% 93.85%,
    52% 93.77%,
    53% 93.65%,
    54% 93.49%,
    55% 93.28%,
    56% 93.04%,
    57% 92.75%,
    58% 92.43%,
    59% 92.06%,
    60% 91.66%,
    61% 91.22%,
    62% 90.75%,
    63% 90.24%,
    64% 89.69%,
    65% 89.11%,
    66% 88.49%,
    67% 87.85%,
    68% 87.17%,
    69% 86.47%,
    70% 85.74%,
    71% 84.98%,
    72% 84.2%,
    73% 83.39%,
    74% 82.57%,
    75% 81.72%,
    76% 80.85%,
    77% 79.97%,
    78% 79.08%,
    79% 78.17%,
    80% 77.24%,
    81% 76.31%,
    82% 75.37%,
    83% 74.43%,
    84% 73.48%,
    85% 72.52%,
    86% 71.57%,
    87% 70.62%,
    88% 69.67%,
    89% 68.73%,
    90% 67.79%,
    91% 66.86%,
    92% 65.95%,
    93% 65.04%,
    94% 64.15%,
    95% 63.27%,
    96% 62.41%,
    97% 61.57%,
    98% 60.75%,
    99% 59.96%,
    100% 59.18%
  );
  overflow: visible;
  position: relative;
  background-size: cover;
  background-position: center ;
  background-repeat: no-repeat;
}
.bgOne ,.bgTwo{
  background-image: url('./images/team.jpg');
}
.bgThree{
  background-image: url('./images/services.jpg');
}
.bgFour{
  background-image: url('./images/employ.jpg');
}
.bgFive{
  background-image: url('./images/connect.jpg');
}



.bgOne::before,.bgTwo::before, .bgThree::before, .bgFour::before, .bgFive::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #231a00;
  opacity: 0.75; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

.bgg11{
  width: 100%;
  height: fit-content;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 2.16%,
    1% 2.03%,
    2% 1.89%,
    3% 1.76%,
    4% 1.63%,
    5% 1.51%,
    6% 1.39%,
    7% 1.28%,
    8% 1.17%,
    9% 1.07%,
    10% 0.97%,
    11% 0.88%,
    12% 0.79%,
    13% 0.71%,
    14% 0.63%,
    15% 0.56%,
    16% 0.49%,
    17% 0.43%,
    18% 0.37%,
    19% 0.32%,
    20% 0.28%,
    21% 0.24%,
    22% 0.2%,
    23% 0.17%,
    24% 0.15%,
    25% 0.13%,
    26% 0.12%,
    27% 0.11%,
    28% 0.11%,
    29% 0.12%,
    30% 0.12%,
    31% 0.14%,
    32% 0.16%,
    33% 0.19%,
    34% 0.22%,
    35% 0.26%,
    36% 0.3%,
    37% 0.35%,
    38% 0.4%,
    39% 0.46%,
    40% 0.52%,
    41% 0.59%,
    42% 0.67%,
    43% 0.75%,
    44% 0.83%,
    45% 0.92%,
    46% 1.02%,
    47% 1.12%,
    48% 1.22%,
    49% 1.33%,
    50% 1.44%,
    51% 1.56%,
    52% 1.69%,
    53% 1.82%,
    54% 1.95%,
    55% 2.09%,
    56% 2.23%,
    57% 2.37%,
    58% 2.52%,
    59% 2.68%,
    60% 2.84%,
    61% 3%,
    62% 3.16%,
    63% 3.33%,
    64% 3.5%,
    65% 3.68%,
    66% 3.86%,
    67% 4.04%,
    68% 4.23%,
    69% 4.42%,
    70% 4.61%,
    71% 4.8%,
    72% 5%,
    73% 5.2%,
    74% 5.4%,
    75% 5.6%,
    76% 5.81%,
    77% 6.01%,
    78% 6.22%,
    79% 6.43%,
    80% 6.65%,
    81% 6.86%,
    82% 7.08%,
    83% 7.29%,
    84% 7.51%,
    85% 7.73%,
    86% 7.95%,
    87% 8.17%,
    88% 8.39%,
    89% 8.61%,
    90% 8.83%,
    91% 9.05%,
    92% 9.27%,
    93% 9.49%,
    94% 9.71%,
    95% 9.93%,
    96% 10.15%,
    97% 10.36%,
    98% 10.58%,
    99% 10.8%,
    100% 11.01%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}

.car{
  box-shadow: 0 0 10px 3px rgba(255, 223, 65, 0.7), /* Yellow glow */
             0 0 20px 6px rgba(255, 136, 0, 0.6) !important;  /* Orange glow */
   transition: transform 0.3s ease, box-shadow 0.3s ease !important;
}
.car:hover {
  transform: scale(1.1) !important; /* Slightly enlarge the icon on hover */
  box-shadow: 0 0 15px 5px rgba(255, 223, 65, 0.8), 
              0 0 25px 8px rgba(255, 136, 0, 0.7) !important; /* Enhanced glow on hover */
}

/* personnel of about page */
.personnelfirst {
  background: rgba(255, 179, 0, 1);
  position: relative;
  padding: 10px;
  top: 0;
  left: 0;
  width: 100%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
  box-shadow: 0 8px 15px rgba(255, 179, 0, 0), 0 4px 6px rgba(255, 179, 0, 1);
}

/* .personnel-title {
  font-size: 2rem;
  color: black;
  margin-bottom: 5px;
} */

/* .personnel-designation {
  color: black;
} */

.personnelimg {
  position: absolute;
  top: calc(30vh - 100px); /* 50% of the image in orange and 50% in white */
  left: 50%;
  transform: translate(-50%, 0);
  height: 200px;
  width: 200px;
  z-index: 1;
}

.personnel-details {
  margin-top: 120px; /* Adjust spacing from the image */
  padding: 10px;
}



/* Apply grayscale by default */
.team-img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}
/* Remove grayscale on hover (back to color) */
.team-img:hover {
  filter: grayscale(0%);
}
.ff{
  border: 1px solid #FFC100 !important;
}
  
/* Our services */

.bg_yellow {
  background-color: rgba(253, 223, 71, .6);
}
.redSelect{
  background-color: #f5cf10;
}

.first{
  display: flex;
  flex-direction: column;
 
}
.bb{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.aa{
  
padding: 50px;

width: 100%;
display: flex !important;
justify-content: center;
gap: 50px !important;

}
.cards{
  
  width: 100%;
  display: flex;
 border-radius: 7px !important;
  gap: 20px;
}
.icon-color{
  color:rgb(245, 158, 11);
}
.card1{
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 158, 11)!important;
  color: black !important;
  border-radius: 7px !important;
}
/* .connect-text-Color{

  color: black !important;
  border-radius: 7px !important;
} */
.fixed-card {
  color: rgb(245, 158, 11);
  background: rgba(255, 179, 0, 1) !important;
  width: 410px !important;    /* Fixed width */
  height: 230px !important;   /* Fixed height */
  display: flex !important;
  flex-direction: column !important;
  gap: 1px !important;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Optional: adds shadow for better visual separation */
}

.connect-text-Color {
  color: rgb(245, 158, 11);
}
.icon{
  height: 50px;
  width: 50px;
  border-radius: 100%;
  background-color:white;
  display: flex;
  justify-content: center;
  align-items: center;
}





/* Employee Verification Section */
.employ_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/employ.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* Scroll bar */

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #f3f3f3;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #e4be03; /* Indigo */
  border-radius: 8px;
  border: 2px solid transparent;
  background-clip: content-box;
}

.custom-scrollbar {
  scrollbar-width: thin;
  scrollbar-color: #e4be03 #f3f3f3;
}
/* spinner  loader*/
.spinner {
  border: 4px solid #fde047;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.personel_section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
}

.personel_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/personalBg.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.7; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}
.border-black{
  border-color:none!important;
}