@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Sofia&family=Sofia+Sans:ital,wght@0,1..1000;1,1..1000&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
  display: none;
}

html {
  scroll-behavior: smooth;
}
h1 {
  font-family: 'Sofia Sans', sans-serif;
  font-weight: bold;
  margin: 0;
  padding: 0;
}

/* Navbar base styles */
.navbar {
  position: fixed;
  top: 0;
  width: 100%;
  background: hsla(0, 0%, 0%, 0.1);
  /* background: #595252; #feee9e; */
  color: white;
  padding: 15px 20px;
  text-align: center;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;
  transition: transform 2s ease, opacity 2s ease;
}


/* Hidden state */
.navbar.hidden {
  transform: translateY(-100%);
  opacity: 0;
}

/* Visible state */
.navbar.visible {
  transform: translateY(0);
  opacity: 1;
}

.custom-dropdown .dropdown-menu {
  background-color: rgba(255, 255, 255, 0.8);
  border: none;
  box-shadow: none;
}

.custom-dropdown .dropdown-item {
  color: #000;
}

.custom-dropdown .dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.brandname {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Navbar animation  */

.nav {
  position: absolute;
  top: 0;
  left: 0;
  width: 150px;
  height: 100%;
  
  border-radius:8px;
  transition: 0.5s;
}
#navlink {
  position: relative;
  text-decoration: none;
  font-size: 1rem;
  font-weight: bold;
  color: #272323d3;
  transition: transform 0.3s ease, font-size 0.3s ease; 
}
#navlink:hover {
  transform: scale(1);
  font-size: 1.1rem; 
  /* color: #ffcc00;  */
}
#navlink::before {
  content: '';
  position: absolute;
  display: block;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #f5cf10;
  transform: scaleX(0);
  
  transition: transform 0.5s ease;
}
#navlink:hover::before {
  transform: scaleX(1);
}

#navlink:hover {
  background: linear-gradient(45deg, #222, #333333);
  background-clip: text;
  color: transparent; 
}

.home-text h1 {
  font-size: 3rem;
  color: #333;
}
/* General text styles for headings and subheadings */
.working_heading,
.working_subheading {
  color: rgb(0, 0, 0); /* Black color */
  text-align: center;
  cursor: default;
}

.working_heading:hover {
  color: white;
}


/* section 1  styling*/
.bg1 {
  width: 100%;
  height: 100vh;
  background-color: #fde047;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 59.79%,
    1% 60.59%,
    2% 61.4%,
    3% 62.24%,
    4% 63.09%,
    5% 63.97%,
    6% 64.85%,
    7% 65.76%,
    8% 66.67%,
    9% 67.6%,
    10% 68.53%,
    11% 69.48%,
    12% 70.42%,
    13% 71.38%,
    14% 72.33%,
    15% 73.28%,
    16% 74.23%,
    17% 75.18%,
    18% 76.12%,
    19% 77.05%,
    20% 77.98%,
    21% 78.89%,
    22% 79.79%,
    23% 80.67%,
    24% 81.54%,
    25% 82.39%,
    26% 83.23%,
    27% 84.04%,
    28% 84.82%,
    29% 85.59%,
    30% 86.32%,
    31% 87.03%,
    32% 87.71%,
    33% 88.36%,
    34% 88.98%,
    35% 89.57%,
    36% 90.13%,
    37% 90.64%,
    38% 91.13%,
    39% 91.58%,
    40% 91.98%,
    41% 92.36%,
    42% 92.69%,
    43% 92.98%,
    44% 93.23%,
    45% 93.45%,
    46% 93.62%,
    47% 93.75%,
    48% 93.84%,
    49% 93.88%,
    50% 93.89%,
    51% 93.85%,
    52% 93.77%,
    53% 93.65%,
    54% 93.49%,
    55% 93.28%,
    56% 93.04%,
    57% 92.75%,
    58% 92.43%,
    59% 92.06%,
    60% 91.66%,
    61% 91.22%,
    62% 90.75%,
    63% 90.24%,
    64% 89.69%,
    65% 89.11%,
    66% 88.49%,
    67% 87.85%,
    68% 87.17%,
    69% 86.47%,
    70% 85.74%,
    71% 84.98%,
    72% 84.2%,
    73% 83.39%,
    74% 82.57%,
    75% 81.72%,
    76% 80.85%,
    77% 79.97%,
    78% 79.08%,
    79% 78.17%,
    80% 77.24%,
    81% 76.31%,
    82% 75.37%,
    83% 74.43%,
    84% 73.48%,
    85% 72.52%,
    86% 71.57%,
    87% 70.62%,
    88% 69.67%,
    89% 68.73%,
    90% 67.79%,
    91% 66.86%,
    92% 65.95%,
    93% 65.04%,
    94% 64.15%,
    95% 63.27%,
    96% 62.41%,
    97% 61.57%,
    98% 60.75%,
    99% 59.96%,
    100% 59.18%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}

/* section 2  styling*/
.bg2 {
  width: 100%;
  height: fit-content;
  background: #fde047;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 2.16%,
    1% 2.03%,
    2% 1.89%,
    3% 1.76%,
    4% 1.63%,
    5% 1.51%,
    6% 1.39%,
    7% 1.28%,
    8% 1.17%,
    9% 1.07%,
    10% 0.97%,
    11% 0.88%,
    12% 0.79%,
    13% 0.71%,
    14% 0.63%,
    15% 0.56%,
    16% 0.49%,
    17% 0.43%,
    18% 0.37%,
    19% 0.32%,
    20% 0.28%,
    21% 0.24%,
    22% 0.2%,
    23% 0.17%,
    24% 0.15%,
    25% 0.13%,
    26% 0.12%,
    27% 0.11%,
    28% 0.11%,
    29% 0.12%,
    30% 0.12%,
    31% 0.14%,
    32% 0.16%,
    33% 0.19%,
    34% 0.22%,
    35% 0.26%,
    36% 0.3%,
    37% 0.35%,
    38% 0.4%,
    39% 0.46%,
    40% 0.52%,
    41% 0.59%,
    42% 0.67%,
    43% 0.75%,
    44% 0.83%,
    45% 0.92%,
    46% 1.02%,
    47% 1.12%,
    48% 1.22%,
    49% 1.33%,
    50% 1.44%,
    51% 1.56%,
    52% 1.69%,
    53% 1.82%,
    54% 1.95%,
    55% 2.09%,
    56% 2.23%,
    57% 2.37%,
    58% 2.52%,
    59% 2.68%,
    60% 2.84%,
    61% 3%,
    62% 3.16%,
    63% 3.33%,
    64% 3.5%,
    65% 3.68%,
    66% 3.86%,
    67% 4.04%,
    68% 4.23%,
    69% 4.42%,
    70% 4.61%,
    71% 4.8%,
    72% 5%,
    73% 5.2%,
    74% 5.4%,
    75% 5.6%,
    76% 5.81%,
    77% 6.01%,
    78% 6.22%,
    79% 6.43%,
    80% 6.65%,
    81% 6.86%,
    82% 7.08%,
    83% 7.29%,
    84% 7.51%,
    85% 7.73%,
    86% 7.95%,
    87% 8.17%,
    88% 8.39%,
    89% 8.61%,
    90% 8.83%,
    91% 9.05%,
    92% 9.27%,
    93% 9.49%,
    94% 9.71%,
    95% 9.93%,
    96% 10.15%,
    97% 10.36%,
    98% 10.58%,
    99% 10.8%,
    100% 11.01%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}
/* section 3  styling*/
.bg3 {
  width: 100%;
  height: fit-content;
  background: #fde047;
  clip-path: polygon(
    100% 100%,
    0% 100%,
    0% 2.24%,
    1% 1.93%,
    2% 1.62%,
    3% 1.31%,
    4% 1.01%,
    5% 0.73%,
    6% 0.49%,
    7% 0.29%,
    8% 0.14%,
    9% 0.04%,
    10% 0%,
    11% 0.02%,
    12% 0.1%,
    13% 0.23%,
    14% 0.41%,
    15% 0.64%,
    16% 0.9%,
    17% 1.2%,
    18% 1.5%,
    19% 1.82%,
    20% 2.13%,
    21% 2.42%,
    22% 2.68%,
    23% 2.91%,
    24% 3.1%,
    25% 3.23%,
    26% 3.31%,
    27% 3.33%,
    28% 3.29%,
    29% 3.2%,
    30% 3.05%,
    31% 2.85%,
    32% 2.61%,
    33% 2.33%,
    34% 2.04%,
    35% 1.72%,
    36% 1.41%,
    37% 1.11%,
    38% 0.82%,
    39% 0.57%,
    40% 0.35%,
    41% 0.18%,
    42% 0.07%,
    43% 0.01%,
    44% 0.01%,
    45% 0.06%,
    46% 0.18%,
    47% 0.35%,
    48% 0.56%,
    49% 0.81%,
    50% 1.1%,
    51% 1.4%,
    52% 1.71%,
    53% 2.02%,
    54% 2.32%,
    55% 2.6%,
    56% 2.84%,
    57% 3.04%,
    58% 3.19%,
    59% 3.29%,
    60% 3.33%,
    61% 3.31%,
    62% 3.24%,
    63% 3.1%,
    64% 2.92%,
    65% 2.69%,
    66% 2.43%,
    67% 2.14%,
    68% 1.83%,
    69% 1.52%,
    70% 1.21%,
    71% 0.92%,
    72% 0.65%,
    73% 0.42%,
    74% 0.24%,
    75% 0.1%,
    76% 0.02%,
    77% 0%,
    78% 0.04%,
    79% 0.13%,
    80% 0.28%,
    81% 0.48%,
    82% 0.73%,
    83% 1%,
    84% 1.3%,
    85% 1.61%,
    86% 1.92%,
    87% 2.23%,
    88% 2.51%,
    89% 2.76%,
    90% 2.98%,
    91% 3.15%,
    92% 3.27%,
    93% 3.33%,
    94% 3.33%,
    95% 3.27%,
    96% 3.15%,
    97% 2.99%,
    98% 2.77%,
    99% 2.52%,
    100% 2.24%
  );
  overflow: visible;
  position: relative;
  font-size: 1em;
}

/* About page  */

.about-section {
  position: relative;
  clip-path: polygon(
    100% 0%,
    0% 0%,
    0% 59.79%,
    1% 60.59%,
    2% 61.4%,
    3% 62.24%,
    4% 63.09%,
    5% 63.97%,
    6% 64.85%,
    7% 65.76%,
    8% 66.67%,
    9% 67.6%,
    10% 68.53%,
    11% 69.48%,
    12% 70.42%,
    13% 71.38%,
    14% 72.33%,
    15% 73.28%,
    16% 74.23%,
    17% 75.18%,
    18% 76.12%,
    19% 77.05%,
    20% 77.98%,
    21% 78.89%,
    22% 79.79%,
    23% 80.67%,
    24% 81.54%,
    25% 82.39%,
    26% 83.23%,
    27% 84.04%,
    28% 84.82%,
    29% 85.59%,
    30% 86.32%,
    31% 87.03%,
    32% 87.71%,
    33% 88.36%,
    34% 88.98%,
    35% 89.57%,
    36% 90.13%,
    37% 90.64%,
    38% 91.13%,
    39% 91.58%,
    40% 91.98%,
    41% 92.36%,
    42% 92.69%,
    43% 92.98%,
    44% 93.23%,
    45% 93.45%,
    46% 93.62%,
    47% 93.75%,
    48% 93.84%,
    49% 93.88%,
    50% 93.89%,
    51% 93.85%,
    52% 93.77%,
    53% 93.65%,
    54% 93.49%,
    55% 93.28%,
    56% 93.04%,
    57% 92.75%,
    58% 92.43%,
    59% 92.06%,
    60% 91.66%,
    61% 91.22%,
    62% 90.75%,
    63% 90.24%,
    64% 89.69%,
    65% 89.11%,
    66% 88.49%,
    67% 87.85%,
    68% 87.17%,
    69% 86.47%,
    70% 85.74%,
    71% 84.98%,
    72% 84.2%,
    73% 83.39%,
    74% 82.57%,
    75% 81.72%,
    76% 80.85%,
    77% 79.97%,
    78% 79.08%,
    79% 78.17%,
    80% 77.24%,
    81% 76.31%,
    82% 75.37%,
    83% 74.43%,
    84% 73.48%,
    85% 72.52%,
    86% 71.57%,
    87% 70.62%,
    88% 69.67%,
    89% 68.73%,
    90% 67.79%,
    91% 66.86%,
    92% 65.95%,
    93% 65.04%,
    94% 64.15%,
    95% 63.27%,
    96% 62.41%,
    97% 61.57%,
    98% 60.75%,
    99% 59.96%,
    100% 59.18%
  );
  background-color: transparent;
  background-image: url('./images/bg_About.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: rgba(253, 223, 71, 0.4);
  opacity: 0.8;
  height: 100vh;
  width: 100%;
}
.about-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(208, 208, 208, 0.5);
  clip-path: inherit;
  z-index: -1;
}

/* Team image hover  */

/* Apply grayscale by default */
.team-img {
  filter: grayscale(100%);
  transition: all 0.3s ease-in-out;
}

/* Remove grayscale on hover (back to color) */
.team-img:hover {
  filter: grayscale(0%);
}
.ourServices
{
  background-image: url('./images/service.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: #fde047;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
}
.bg_yellow{
  background-color: #fde047;
}
.services-section-overlay
{
  position: absolute;
  top: 10%;
  left: 0;
  width: 100%;
  height: 100%;
  /* background-color: #F59724 ; */
  z-index: 1;
}

/* General text styles for headings and subheadings */
.working_heading, .working_subheading, .about_heading, .about_subheading {
  color: rgb(0, 0, 0); /* Black color */
  text-align: center;
  cursor: default;
}

/* Home top section */
.home_section{
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
}

/* About Section */
.about_section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
}
.home_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/home.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* About Section Background with Opacity */
.about_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/team.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* Our Services Section */
.ourServices {
  position: relative; 
  height: 100vh;
  width: 100%;
}

/* Our Services Background with Opacity */
.services_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/services.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* Ensure content is above background */
.ourServices > *, .about_section > *, .connect_section >* ,.connect_section>* {
  position: relative;
  z-index: 2; /* Places content above the background */
}

.about_heading:hover, .working_heading:hover {
  color: white;
}

/* Hiring Section */
.hiring_heading {
  text-shadow: 2px 2px black;
  color: rgb(245, 158, 11);
  cursor: default;
}

/* Get in Touch */
.to-top {
  background-color: #fde047 !important;
  position: fixed;
  bottom: 1rem;
  right: 2rem;
  width: max-content;
  height: 75px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1.4rem;
  opacity: 0;
  pointer-events: none;
  transition: all .25s ease-in-out;
  border: white 1px solid;
  color: black;
  text-align: center;
  font-weight: 600;
}

.to-top i {
  color: black;
  border-radius: 50px;
  background-color: #fde047;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  width: 70px;
}
.to-top:hover i{
  font-size: 33px;
  transition: all .25s ease-in-out;
}

.to-top.active {
  bottom: 2rem;
  pointer-events: auto;
  opacity: 1;
}

@media screen and (max-width: 768px) {
  .to-top {
    right: 0.5rem;
    font-size: 1rem;
    height: 30px;
    font-weight: 700;
  }
  .to-top i {
    color: black;
    border-radius: 50px;
    background-color: #fde047;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;

  }
}


.wrapper .button {
  display: inline-block;
  height: 70px;
  width: 70px;
  float: left;
  text-decoration: none;
  margin: 0 5px;
  overflow: hidden;
  background: #fde047;
  border-radius: 50px;
  cursor: pointer;
  box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.1);
  transition: all .25s ease-in-out;
}

.wrapper .button:hover {
  width: 225px;
}

.wrapper .button .icon {
  display: inline-block;
  height: 70px;
  width: 70px;
  color: #000;
  text-align: center;
  border-radius: 50px;
  box-sizing: border-box;
  line-height: 60px;
  transition: all .25s ease-in-out;
}

.wrapper .button:nth-child(1):hover .icon {
  background: #fde047;
}
.wrapper .button .icon i {
  font-size: 30px;
  transition: all .25s ease-in-out;
}

.wrapper .button:hover .icon i {
  color: black;
}

.wrapper .button span {
  font-size: 20px;
  font-weight: 500;
  height: 70px;
  transition: all .25s ease-in-out;
}
.wrapper .button:nth-child(1) span {
  color: white;
}

/* Connect Section */
.connect_section {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden; /* Prevents content overflow */
 
  
}
.redSelect{
  background-color: #f5cf10;
}

.connect_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/connect.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* Employee Verification Section */
.employ_section::before {
  content: ''; /* Creates the pseudo-element */
  position: absolute; 
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./images/employ.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.5; /* Adjust opacity of background */
  z-index: 1; /* Ensures it is below the content */
  pointer-events: none; /* Allows interaction with the content */
}

/* Home Section */
.home-section {
  background-image: url('./images/inRe.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-color: transparent;
  opacity: 0.8;
  height: 100vh;
  width: 100%;
}

.home-section::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0cd09c2;
  z-index: -1;
}

/* spinner  loader*/
.spinner {
  border: 4px solid #fde047;
  border-top: 4px solid black;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}
